body{
	background-image: url('../images/Knicks-Wallpaper-HD.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: orange;
}

h1{
	font-size: 50px;
	text-align: center;
}

.answer{
	text-align: center;
	opacity: .5;
	color: blue;
}

#question{
	text-align: center;
}

h6{
	text-align: center;
}

.panel-body{
	text-align: center;
}



